@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul{list-style: none;}
a{text-decoration: none;}

html{font-size: 0.6em;}
header{padding: 0 20px; height: 100vh;}
.container{max-width: 1200px;}
header .container{margin: auto;}

nav{
    display: flex; 
    flex-direction: column; 
    align-items: center; text-align: center; 
    padding: 36px 0;
    
}
#menu li a,
button{color: #192252; font: 500 1.6rem Inter;}

nav button{
    color: #fff; 
    padding: 14px 16px; 
    background-color: #0e1734;
    border: 0;
    transition: 0.6s;
}

button:hover{background: rgba(14, 23, 52, 0.702);}
#header-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

#imgs{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
#imgs img{width: 30%; margin: 0 1.5%;}

#header-bottom h1{
    font: 600 2.5rem Montserrat; color: #192252;
    padding-top: 60px;
}

#header-bottom p{
    font: 1.8rem/1.5 Inter;
    color: #848FAC;
    padding: 24px 0 35px 0;
}

#header-bottom button{
    font: 500 16px Inter;
    color: white;
    background-color: #192252;
    border: 0;
    padding: 12px 24px;
}
#middle{transform: translateY(14%);}

@media only screen and (min-width: 600px) {
    html{
        font-size: 0.5em;
    }
    nav{
        flex-direction: row;
        justify-content: space-between;
        /* align-items: center; */
    }

    #menu{display: flex; justify-content: center; }
    #menu li a{padding: 10px 16px; transition: 1s;}
    #menu li a:hover{background-color: #0E1734; color: #fff;}
    #header-bottom{flex-direction: row;}
    #header-bottom h1{font-size: 3.1vw; padding: initial;}
    #imgs{order: 2; min-width: 300px; margin-left: 20px;}
    #imgs img{max-width: 180px;}
    #header-bottom button:hover{opacity: 0.7; transition: 0.7s;}

  }


    

